<ion-header>
  <ion-toolbar>
    <ion-title>Ayarlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Defterler
      </ion-label>
    </ion-list-header>
  
    <ion-item>
      <ion-label>Defter</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="ev">Ev</ion-select-option>
        <ion-select-option value="market">Market</ion-select-option>
        <ion-select-option value="sirket">Şirket</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>
</ion-content>
