<ion-header>
  <ion-toolbar>
    <ion-title color='dark'>Giriş</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">
    <h1>Create Account</h1>
  </div>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Kullanıcı Adı</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Şifre</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>

      <ion-item lines='none'>
        Zaten üyeliğin var mı?<a routerLink='/login'> Giriş Yap</a>
      </ion-item>

      <ion-button expand="block" shape='round' color='success' routerLink='/login'>Kaydol</ion-button>
    </ion-list>
  </form>
</ion-content>
