<ion-header>
  <ion-toolbar>
    <ion-title>toDo!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Markete git!</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Çiçekleri sulamayı unutma</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Ders çalış</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Görev 1</ion-label>
    <ion-checkbox slot="start"></ion-checkbox>
  </ion-item>

</ion-content>
