<ion-header>
  <ion-toolbar>
    <ion-title color='dark'>Giriş</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Kullanıcı Adı</ion-label>
        <ion-input type='text'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Şifre</ion-label>
        <ion-input type='password'></ion-input>
      </ion-item>

      <ion-item>
        <a routerLink='/signup'> Üyelik Oluştur</a>
      </ion-item>

      <ion-button expand="block" shape='round' color='success' routerLink='/home/feed'>Oturum Aç</ion-button>
    </ion-list>
  </form>
</ion-content>
