<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Akış</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addtask">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Görev Ekle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Bildirimler</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Ayarlar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
